for msg in messages
  div #{msg.msg}

h1 Checkout
label(for="amount") amount
input(type="text", name="amount", id="amount")
form(id='checkout', action='/checkouts', method='post')
  div(id='payment-form')
  input(type='submit', value='Pay $10')

script(src='https://js.braintreegateway.com/v2/braintree.js')
script.
  var token = "#{clientToken}";
  braintree.setup(token, "dropin", {
    container: "payment-form"
  });
